---
import i18next, { changeLanguage, t } from "i18next";
import ProjectImageContainer from "../../components/ProjectImageContainer.vue";
import Layout from "../../layouts/Layout.astro";
import OtherPagesNavbar from "../../components/OtherPagesNavbar.astro";

changeLanguage("jp");

const lang = i18next.language;
---

<Layout title="Travis Kleckley | Project Management">
    <main class="bg-gray-900 pb-16">
        <OtherPagesNavbar />
        <div class="max-w-screen-md mx-auto text-white text-center">
            <div class="py-16">
                <div
                    class="font-semibold shadow-2xl text-3xl sm:text-4xl flex flex-col gap-4 py-8 bg-gradient-to-br from-cyan-500 to-blue-500 max-w-screen-md mx-2 sm:mx-auto rounded-2xl"
                >
                    <h1>{t('project_management.top.privacy_first')}</h1>
                    <h2>{t('project_management.top.own_data')}</h2>
                    <h2>{t('project_management.top.hosting')}</h2>
                </div>
                <div class="text-gray-400 mt-4 text-xl">
                    <h2>{t('project_management.sub_heading.access')}</h2>
                    <h2>{t('project_management.sub_heading.cookies')}</h2>
                </div>
            </div>
            <ProjectImageContainer lang={lang} client:only="vue" />
            <div class="my-16 text-lg text-gray-200">
                <h1 class="text-2xl font-semibold">{t('project_management.other_features.title')}</h1>
                <p>{t('project_management.other_features.login')}</p>
                <p>{t('project_management.other_features.search')}</p>
                <p>{t('project_management.other_features.sub_tasks')}</p>
                <p>{t('project_management.other_features.notes')}</p>
            </div>
            <div class="my-16 text-lg text-gray-200">
                <div class="flex flex-col gap-8 sm:flex-row sm:justify-between sm:gap-0 whitespace-pre-line">
                    <div class="sm:w-[250px]">
                        <p class="text-xl font-semibold mb-2">{t('project_management.reasons.privacy_title')}</p>
                        <p>{t('project_management.reasons.privacy_info')}</p>
                    </div>
                    <div class="sm:w-[250px]">
                        <p class="text-xl font-semibold mb-2">{t('project_management.reasons.your_server_title')}</p>
                        <p>{t('project_management.reasons.your_server_info')}</p>
                    </div>
                    <div class="sm:w-[250px]">
                        <p class="text-xl font-semibold mb-2">{t('project_management.reasons.ownership_title')}</p>
                        <p>{t('project_management.reasons.ownership_info')}</p>
                    </div>
                </div>
            </div>
            <div class="py-8 bg-gray-700 rounded-lg sm:rounded-2xl text-gray-200">
                <h1 class="text-2xl">{t('project_management.roadmap.title')}</h1>
                <p>{t('project_management.roadmap.version')}</p>
                <div>
                    <p>{t('project_management.roadmap.design')}</p>
                    <p>{t('project_management.roadmap.chart')}</p>
                    <p>{t('project_management.roadmap.pagination')}</p>
                    <p>{t('project_management.roadmap.mobile')}</p>
                    <p>{t('project_management.roadmap.i18n')}</p>
                </div>
            </div>
        </div>
    </main>
</Layout>
