---
import OtherPagesNavbar from "../components/OtherPagesNavbar.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Travis Kleckey Software Engineer | Chat bots">
    <main class="bg-zinc-600">
        <div class="mx-auto max-w-screen-md">
			<div class="mx-2 bg-zinc-800 text-white relative">
                <OtherPagesNavbar />
                <img src="/images/chat-bot.gif" alt="chat bot">
            </div>
            </div>
    </main>
</Layout>