---
import OtherPagesNavbar from "../components/OtherPagesNavbar.astro";
import ChatBotContainer from "../components/ChatBotContainer.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Travis Kleckey Software Engineer | Chat bots">
    <main class="bg-zinc-600">
        <div class="mx-auto max-w-screen-md">
            <div class="mx-2 bg-zinc-800 text-white relative">
                <OtherPagesNavbar />
                <div class="mx-2 sm:mx-8 mb-8 pt-8 text-center">
                    <h1 class="text-2xl">This is a sample of a chat bot.</h1>
                    <p>
                        It can look however you want it to look, be wherever you
                        want it to be and connect to any of the popular large
                        language models.
                    </p>
                    <p>
                        Website integration or desktop apps available.
                    </p>
                </div>
                <ChatBotContainer client:only="vue" />
                <div class="text-center text-xs pb-12 pt-6">
                    <p>DISCLAIMER</p>
                    <p>
                        This is on the absolute free tier. That means maximum 15
                        requests per minute for <strong>everyone</strong> on here
                        so it might just not work.
                    </p>
                    <p>
                        Yes you do have to do the math problem. I know it's
                        annoying, but I need to slow people down.
                    </p>
                    <p>I know the design is ugly, I'd give you a custom one.</p>
                </div>
            </div>
        </div>
    </main>
</Layout>
