---
import Layout from '../layouts/Layout.astro';
import Me from '../components/Me.astro';
import Navbar from '../components/Navbar.vue';
import Chat from '../components/Chat.vue';
---

<Layout title="Travis Kleckley Software Engineer">
	<main>
		<Navbar client:only="vue" />
		<div>SOMETHING</div>
		<Me />
		<div>
			HEY
		</div>
		<div>
			<Chat client:only="vue"/>
		</div>
	</main>
</Layout>

<style>
	
</style>
