---
import Layout from "../layouts/Layout.astro";
import Me from "../components/Me.astro";
import Navbar from "../components/Navbar.vue";
import Hero from "../components/Hero.astro";
import Products from "../components/Products.astro";
import GetStarted from "../components/GetStarted.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");

const SERVER_URL = import.meta.env.SERVER_URL;
const PORT = import.meta.env.PORT;
---

<Layout title="Travis Kleckley Software Engineer">
	<Hero />
	<main class="bg-zinc-600">
		<div class="mx-auto max-w-screen-md py-4">
			<div class="mx-2 bg-zinc-800 text-white relative">
				<Navbar
				 SERVER_URL={SERVER_URL}
				 PORT={PORT} 
				 client:only="vue"
				 home={t('navbar.home').toString()} 
				 about={t('navbar.about').toString()} 
				 products={t('navbar.products').toString()} 
				 getStarted={t('navbar.get_started').toString()} 
				 joinMessage={t('navbar.join_message').toString()} 
				 />
				<div class="mx-4">
					<Me />
					<Products />
					<GetStarted />
				</div>
			</div>
		</div>
	</main>
</Layout>

<style></style>
<script type="text/javascript" src="smoke.js"></script>
