---
import Layout from '../layouts/Layout.astro';
import Me from '../components/Me.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div>SOMETHING</div>
		<Me />
		<div>
			HEY
		</div>
	</main>
</Layout>

<style>
	
</style>
