---
import Layout from "../layouts/Layout.astro";
import { pmData } from "../projectManagementDataEN";

type PmData = {
    title: string;
    image: string;
};
---

<Layout title="Travis Kleckley | Project Management">
    <main class="bg-gray-900 pb-16">
        <div class="max-w-screen-md mx-auto text-white text-center">
            <div class="py-16">
                <div
                    class="font-semibold shadow-2xl text-4xl flex flex-col gap-4 py-8 bg-gradient-to-br from-cyan-500 to-blue-500 max-w-screen-md mx-2 sm:mx-auto rounded-2xl"
                >
                    <h1>Privacy First Project Management System</h1>
                    <h2>Own your data</h2>
                    <h2>Host on your own server</h2>
                </div>
                <div class="text-gray-400 mt-4 text-xl">
                    <h2>Access through a desktop application</h2>
                    <h2>Avoid tracking cookies</h2>
                </div>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg mx-2 flex flex-col sm:flex-row gap-6 sm:gap-0 sm:justify-between">
                {
                    pmData.map((data: PmData) => (
                        <div class="bg-gray-700 rounded-lg flex flex-col">
                            <div>
                                <div class="sm:w-[225px] h-[143px]">
                                    <img
                                        class="rounded-t-lg h-full w-full object-cover"
                                        src={data.image}
                                    />
                                </div>
                                <div class="text-xl my-4 font-semibold text-gray-200">
                                    <h3>{data.title}</h3>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
            <div class="my-16 text-lg text-gray-200">
                <h1 class="text-2xl font-semibold">Other features include:</h1>
                <p>Secure logins</p>
                <p>Search</p>
                <p>Sub-tasks</p>
                <p>Private notes</p>
            </div>
            <div class="my-16 text-lg text-gray-200">
                <div class="flex justify-between">
                    <div class="sm:w-[250px]">
                        <p class="text-xl font-semibold mb-2">True privacy</p>
                        <p>Have complete control over your data.</p>
                    </div>
                    <div class="sm:w-[250px]">
                        <p class="text-xl font-semibold mb-2">What you get</p>
                        <p>Your own server and database that can only be accessed by your team's desktop applications.</p>
                    </div>
                    <div class="sm:w-[250px]">
                        <p class="text-xl font-semibold mb-2">Ownership</p>
                        <p>There is no subscription.</p>
                    </div>
                </div>
            </div>
            <div class="py-8 bg-gray-700 rounded-lg sm:rounded-2xl text-gray-200">
                <h1 class="text-2xl">Roadmap</h1>
                <p>This is still pre-alpha and there will be many updates.</p>
                <div>
                    <p>・Overall design changes</p>
                    <p>・Rewrite the gantt chart</p>
                    <p>・Pagination</p>
                    <p>・Mobile app</p>
                </div>
            </div>
        </div>
    </main>
</Layout>
