---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Travis Kleckley | Project Management">
    <main>
        <div>
            <h1>Privacy First Project Management System</h1>
            <h2>Own your data.</h2>
            <h2>Host on your own server.</h2>
            <h2>Access through a desktop application away from tracking cookies.</h2>
        </div>
        <div>
            <h1>Real time collaboration</h1>
            <p>Edits made are from your desktop are sent in real time to everyone else watching the same task.</p>
        </div>
        <div>
            <h1>Live notifications</h1>
            <p>Notify users instantly about assignments</p>
        </div>
        <div>
            <h1>Manage your timeline</h1>
            <p>All tasks are displayed on your timeline</p>
        </div>
        <div>
            <h1>Other features include:</h1>
            <p>Search</p>
            <p>Sub-tasks</p>
            <p>Private notes no one else can see</p>
        </div>
        <div>
            <h1>Roadmap</h1>
            <p>This is still pre-alpha and there will be many updates.</p>
            <div>
                <p>・Overall design changes</p>
                <p>・Rewrite the gantt chart</p>
                <p>・Pagination</p>
                <p>・Mobile app</p>
            </div>
        </div>
    </main>
</Layout>