---

---
<div class="py-8">
    <h1 class="text-3xl text-center">Contact Me</h1>
    <div class="flex justify-around py-4 max-w-screen-md mx-auto">
        <div>
            <p>Email</p>
            <p>traviskleckley.webdev@gmail.com</p>
        </div>
        <div>
            <a target="_blank" href="https://github.com/TravyTheDev">Github</a>
            <a target="_blank" href="https://www.linkedin.com/in/travis-kleckley/">Linkedin</a>
        </div>
    </div>
    <p class="text-center">© Travis Kleckley 2024</p>
</div>