---
import { t } from "i18next";
---
<div id="get-started" class="text-center pb-4 border-t">
    <h1 class="text-3xl py-4 font-semibold">
        {t('get_started.title')}
    </h1>
    <div class="flex flex-col gap-4">
        <div>
            <h2 class="mb-4">1. {t('get_started.consultation.title')}</h2>
            <p>{t('get_started.consultation.info')}</p>
        </div>
        <div>
            <h2 class="mb-4">2. {t('get_started.proposal.title')}</h2>
            <p>{t('get_started.proposal.info')}</p>
        </div>
        <div>
            <h2 class="mb-4">3. {t('get_started.creation.title')}</h2>
            <p>{t('get_started.creation.info')}</p>
        </div>
        <div>
            <h2 class="mb-4">4. {t('get_started.launch.title')}</h2>
            <p>{t('get_started.launch.info')}</p>
        </div>
    </div>
</div>