---

---
<div class="text-center pb-4 border-t">
    <h1 class="text-2xl py-4">
        Let's talk
    </h1>
    <div class="flex flex-col gap-4">
        <div>
            <h2 class="mb-4">1. Consultation</h2>
            <p>This is the most important part. We discuss your goals and how to make them come to life.</p>
        </div>
        <div>
            <h2 class="mb-4">2. Proposal</h2>
            <p>I send you a proposal that fits your budget.</p>
        </div>
        <div>
            <h2 class="mb-4">3. Creation</h2>
            <p>I make the project. You will receive weekly updates.</p>
        </div>
        <div>
            <h2 class="mb-4">4. Launch and Support</h2>
            <p>We're live. Ongoing support is available if needed.</p>
        </div>
    </div>
</div>