---
import ChangeLanguage from "./ChangeLanguage.astro";
import HeroText from "./HeroText.vue";
import { t } from "i18next";
const SERVER_URL = import.meta.env.SERVER_URL
---

<div id="home" class="relative h-screen w-full">
    <HeroText clickCornersText={t('hero.click_corners').toString()} SERVER_URL={SERVER_URL} client:load>
        <ChangeLanguage />
    </HeroText>
    <div class="mx-1 h-full">
        <canvas class="h-full w-full"></canvas>
    </div>
</div>

<style>
    .lang-select option{
        background-color: transparent;
        color: white;
    }
</style>