---
import HeroText from "./HeroText.vue";


---

<div class="relative h-screen w-full">
    <HeroText client:load />
    <div class="mx-1 h-full">
        <canvas class="h-full w-full"></canvas>
    </div>
</div>

<script type="text/javascript" src="smoke.js"></script>