---

---
<div class="flex flex-col items-center sm:flex-row gap-1">
    <img class="max-w-[300px]" src="/images/profilePic1.png" alt="Picture of Travis">
    <div>
        <p>There's a live chat in here, did you find it?</p>
        <p>If you found it, contact me and tell me to get on, if you didn't find it, contact me anyway and I'll tell you how to get on.</p>
        <p>In the navbar it should tell you when someone else connected or disconnected so you can chat with everyone on here.</p>
    </div>
</div>