---

---

<div class="sticky top-0 py-2 bg-white text-black z-10">
    <div class="flex w-full justify-between justify-center items-center font-semibold divide-x">
        <a href="/" class="w-full hover:cursor-pointer text-center">Home</a>
        <a href="/chat-bot" class="w-full hover:cursor-pointer text-center">Chat Bot</a>
        <!-- <a href="#products" class="w-full hover:cursor-pointer text-center">Products</a> -->
        <a href="/#contact" class="w-full hover:cursor-pointer text-center">Contact</a>
    </div>
</div>