---

---

<div id="products" class="pb-4">
    <h1 class="text-2xl border-t py-4 text-center">Products</h1>
    <div>
        <div class="flex flex-col items-center sm:grid grid-cols-6 gap-4">
            <div class="sm:col-span-4">
                <a href="/chat_bot">
                    <img
                        class="sm:h-[250px] sm:w-full object-cover"
                        src="/images/chat-bot.gif"
                        alt="chat bot"
                    />
                </a>
            </div>
            <div class="sm:col-span-2">
                <h2 class="text-xl mb-2">Desktop AI Chat bots</h2>
                <p>
                    AI chat bots made with wails, connecting to your favorite
                    large language model.
                </p>
                <p></p>
            </div>
        </div>
    </div>
    <div>Project Management</div>
    <div>Private Chats</div>
    <div>Kick Him!</div>
</div>
